.register-login {
      h3 {
            span {
                  color: var(--main-color);
            }
      }
      
      form span {
            font-size: 14px;
            color: var(--sub-text-color);
      }

      label span {
            color: red;
      }
}