header {
      min-height: 55px;
}

.navbar {
      padding: 0;
}


.nav-link {
      color: var(--main-text-color);
}

.nav-link.active {
      color: var(--main-color) !important;
}

.auth-user {
      align-items: center;

      a {
            border: 1px solid var(--main-color);
            border-radius: 10px;
            font-size: 16px;
            color: white;
            background-color: var(--main-color);
            transition: all 0.3s ease;
            font-weight: 500;
            text-decoration: none;
            padding: 5px 10px;


            &:first-child {
                  background-color: #fff;
                  color: var(--main-color);
            }

            &:hover {
                  background-color: #fff;
                  color: var(--main-color);
            }
      }

      .auth-img {
            border: none;
            padding: 0;
      }
}



@media screen and (max-width: 991px) {
      .navbar-brand {
            font-size: 22px;
      }

      .auth-user {
            margin-top: 30px;
      }

}

.navbar-toggler {
      border: none;
      background-color: transparent;
      color: var(--main-color);

      span {
            font-weight: 700;
            width: 60px;
      }

      &:focus {
            box-shadow: none;
      }
}